.red-g{
    color:#f06548;
}

.btn-pink {
    color: #fff;
    background-color: #ed1b60;
    border-color: #ed1b60; }
    .btn-pink:hover, .btn-pink:focus {
      color: #fff;
      background-color: #df195f;
      border-color: #df195f; }
    .btn-pink:not(:disabled):not(.disabled).active, .btn-pink:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #be1b54;
      border-color: #be1b54; }
    .btn-pink.disabled, .btn-pink:disabled {
      color: #fff;
      background-color: #412ed7;
      border-color: #f68daf; }

      .archivage-card .avatar-title {
        background-color: #0a5a27 !important;
        color: #107127 !important;
    }

    .courrier-card .avatar-title {
        background-color: #160960 !important;
        color: #412ed7 !important;
    }
